@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

@import "bootstrap";
@import "bootstrapreset";
body {
	min-height: 100%;
	width: 100%;
	position: absolute;
	overflow: scroll;
}

/* Fckn bootstrap */


/* Presets */
$firstFont: 'EB Garamond', serif;

$firstColor: #cfcfcf;
$secondColor: #b4b4b4;

$headerGray: #FAFAFA;

/* Eigen styling */
.jumbotron {
	height: 1400px;
}
.hdat-tagline {
	width: 175px;
	margin-top: 30px;
	opacity: 0;
}

.hdat-logo {
	width: 335px;
	display: block;
	margin-top: 50px;
	opacity: 0;
}

.hdat-zeefakkel-container {
	text-align: center;
}

.hdat-zeefakkel {
	opacity: 0;
	width: 500px;
	margin-right: 0px;
}

/* Content */
.blok {
	height: 0;
	opacity: 0;
}
.videoBlock {
	@extend .blok;
	background: $firstColor;
	padding: 0;
	overflow: hidden;
}
.darkBlock {
	@extend .blok;
	padding: 60px 60px 0 60px;
	background: $secondColor;
	p {
		color: $headerGray;
	}
}

.lightBlock {
	@extend .blok;
	padding: 60px 60px 0 60px;
	background: #cfcfcf;
	text-align: center;
	p {
		color: $headerGray;
	}
}


p {
	font-family: $firstFont;
	font-size: 20px;
	line-height: 32px;
}

/* Video */

#vid {
	width: 100%;
	opacity: .5;
	z-index: 9;
}
.cta-hdat {
	font-family: $firstFont;
	font-size: 16px;
	display: inline-block;
	z-index: 10;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: orange;
	color: #fff;
	/* Hier nog even goed naar kijken */
	position: absolute;
	margin-top: 30%;
	margin-left: auto;
	margin-right: auto;
	left: 40%;
	right: 33%;
	&:hover {
		color: white;
		text-decoration: none;
		background-color: black;
	}
}

/* VOC */
.hdat-ship {
	width: 50%;
	opacity: 1;
}
.vocBlock {
	@extend .darkBlock;
}

/* Methodology */
.methodologyContainer {
	background-color: $headerGray;
}
.methodology {
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 50px;
	opacity: 1;
}
