@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

@import "bootstrap";
@import "bootstrapreset";
body {
	min-height: 100%;
	width: 100%;
	position: absolute;
	overflow: scroll;
}

/* Fckn bootstrap */



/* Presets */
$firstFont: 'EB Garamond', serif;

$firstColor: #cfcfcf;
$secondColor: #b4b4b4;

$headerGray: #FAFAFA;

/* Eigen styling */
.jumbotron {
	height: 1400px;
}
.hdat-tagline {
	width: 175px;
	margin-top: 30px;
	opacity: 0;
}

.hdat-logo {
	width: 335px;
	display: block;
	margin-top: 50px;
	opacity: 0;
}

.hdat-zeefakkel-container {
	text-align: center;
}

.hdat-zeefakkel {
	opacity: 0;
	width: 500px;
	margin-right: 0px;
}

/* Content */
.blok {
	min-height: 400px;
	opacity: 1;
}
.videoBlock {
	@extend .blok;
	background: $firstColor;
	padding: 0;
	overflow: hidden;
}
.darkBlock {
	@extend .blok;
	padding: 60px 60px 0 60px;
	background: $secondColor;
	min-height: 400px;
  	padding-bottom: 30px;
	p {
		color: $headerGray;
	}
}

.lightBlock {
	@extend .blok;
	padding: 60px 60px 0 60px;
	background: #cfcfcf;
	text-align: center;
	p {
		color: $headerGray;
	}
}


p {
	font-family: $firstFont;
	font-size: 20px;
	line-height: 32px;
}

label {
	font-family: $firstFont;
	font-size: 16px;
	color: white;
	text-align: left;
}

/* Tech stack & shit */
h3 {
	font-family: $firstFont;
}
ul {
	padding-left: 0;
}
li {
	margin-top: 6px;
	list-style-type: none;
	color: #989898;
	font-size: 16px;
	font-family: $firstFont;
}

/* Video */

#vid {
	width: 100%;
	opacity: .5;
	z-index: 9;
}
.cta-hdat {
	font-family: $firstFont;
	font-size: 16px;
	display: inline-block;
	z-index: 10;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: orange;
	color: #fff;
	/* Hier nog even goed naar kijken */
	position: absolute;
	margin-top: 30%;
	margin-left: auto;
	margin-right: auto;
	left: 40%;
	right: 33%;
	&:hover {
		color: white;
		text-decoration: none;
		background-color: black;
	}
}

/* VOC */
.hdat-ship {
	width: 50%;
	opacity: 1;
}
.vocBlock {
	@extend .darkBlock;
}

/* Methodology */
.methodologyContainer {
	padding: 30px 45px 50px 45px;
	background-color: $headerGray;
}

@media (min-width: 992px) { 
	.methodology {
		margin-left: 25%;
		margin-right: 25%;
		padding-top: 50px;
		opacity: 1;
	}
 }

 @media (max-width: 992px) {
 	.footer {
 		margin-left: 60px !important;
 		margin-right: 60px !important;
 	}

 }

 @media (max-width: 768px) {
 	.hdat-logo {
 		max-width: 100%;
   		margin-left: -50px;
 	}
	.hdat-tagline {
		margin-left: -50px;
	}
 }

 .footercontainer {
 	background: $secondColor;
 }


.footer {
	margin-left: 25%;
	padding: 30px 0 75px 0;
}
.colofon-tag {
	margin-left: 15px;
}

/* Flexbox */
/*-*/

/*.colofon-list li {
	color: white !important;
}*/
